html, body {
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
}

#gameSpace {
    position: absolute;
    top: 0;
    left: 0;
}
